<!DOCTYPE html>
<html>
  <head>
    <title> Welcome to Papa Nelson's Pizza</title>
	<link rel="stylesheet" type="text/css" href="/public/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo"><span>Pi</span>zzahat</div>
        <div class="menu">
          <a href="/index">Home</a>
          <a href="/order">Order Pizza</a>
          <a href="#">Your Order</a>
          <a href="#">Contract US</a>
        </div>
      </nav>
      <div class="h-text">
        <p>Free Home Delivery</p>
        <h1>Quality F<span>oo</span>ds</h1>
        <h2>Pizza of the Week</h2>
        <a href="/order" id="order">Order now!!</a>
      </div>
      <div id="pizza">
        <img src="/public/pizza3.png" width="100" />
        <img src="/public/pizza3.png" width="100" />
        <img src="/public/pizza3.png" width="100" />
      </div>
    </header>
  </body>
</html>
